@font-face {
  font-family: "fo-site-font"; /* Project id 2701642 */
  src: url('iconfont.woff2?t=1630312501851') format('woff2'),
  url('iconfont.woff?t=1630312501851') format('woff');
}

.fox-site-font, [class*=" ic-"], [class^=ic-] {
  font-family: "fo-site-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-play:before {
  content: "\e64b";
}

.ic-home:before {
  content: "\e621";
}

.ic-page-404:before {
  content: "\e64a";
}

.ic-facebook:before {
  content: "\e634";
}

.ic-fancy:before {
  content: "\e635";
}

.ic-jd:before {
  content: "\e636";
}

.ic-google-plus:before {
  content: "\e637";
}

.ic-linkedin:before {
  content: "\e638";
}

.ic-amazon:before {
  content: "\e639";
}

.ic-instagram:before {
  content: "\e63a";
}

.ic-qq:before {
  content: "\e63b";
}

.ic-skype:before {
  content: "\e63c";
}

.ic-success:before {
  content: "\e63d";
}

.ic-line:before {
  content: "\e63e";
}

.ic-pinterest:before {
  content: "\e63f";
}

.ic-snapchat:before {
  content: "\e640";
}

.ic-tmall:before {
  content: "\e641";
}

.ic-vimeo:before {
  content: "\e642";
}

.ic-taobao:before {
  content: "\e643";
}

.ic-twitter:before {
  content: "\e644";
}

.ic-whatsapp:before {
  content: "\e645";
}

.ic-youtube:before {
  content: "\e646";
}

.ic-tumblr:before {
  content: "\e647";
}

.ic-weibo:before {
  content: "\e648";
}

.ic-wechat:before {
  content: "\e649";
}

.ic-align-left:before {
  content: "\e62a";
}

.ic-circle-check:before {
  content: "\e62b";
}

.ic-clock:before {
  content: "\e62c";
}

.ic-circle-cross:before {
  content: "\e62d";
}

.ic-graph-bar:before {
  content: "\e62e";
}

.ic-pie:before {
  content: "\e62f";
}

.ic-move:before {
  content: "\e630";
}

.ic-ellipsis:before {
  content: "\e631";
}

.ic-cloud-upload:before {
  content: "\e632";
}

.ic-download:before {
  content: "\e633";
}

.ic-about:before {
  content: "\e61a";
}

.ic-classes:before {
  content: "\e61b";
}

.ic-camera:before {
  content: "\e61c";
}

.ic-left:before {
  content: "\e61d";
}

.ic-comment:before {
  content: "\e61e";
}

.ic-album:before {
  content: "\e61f";
}

.ic-location:before {
  content: "\e620";
}

.ic-mine:before {
  content: "\e622";
}

.ic-search:before {
  content: "\e623";
}

.ic-right:before {
  content: "\e624";
}

.ic-message-headset:before {
  content: "\e625";
}

.ic-message:before {
  content: "\e626";
}

.ic-video-file:before {
  content: "\e627";
}

.ic-phone:before {
  content: "\e628";
}

.ic-reload:before {
  content: "\e629";
}

.ic-close:before {
  content: "\e60a";
}

.ic-affix:before {
  content: "\e60b";
}

.ic-email:before {
  content: "\e60c";
}

.ic-fax:before {
  content: "\e60d";
}

.ic-cart:before {
  content: "\e60e";
}

.ic-down:before {
  content: "\e60f";
}

.ic-delete:before {
  content: "\e610";
}

.ic-loading:before {
  content: "\e611";
}

.ic-mobile:before {
  content: "\e612";
}

.ic-menu:before {
  content: "\e613";
}

.ic-microphone:before {
  content: "\e614";
}

.ic-shopping-bag:before {
  content: "\e615";
}

.ic-qrcode:before {
  content: "\e616";
}

.ic-share:before {
  content: "\e617";
}

.ic-up:before {
  content: "\e618";
}

.ic-setting:before {
  content: "\e619";
}

$themeColor: #46a0fc;

.icon-picker {

  .icon-picker-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

    i {
      font-size: 20px;
      line-height: 25px;
    }

    &:hover {
      i {
        color: $themeColor;
      }
    }

    &.clear {
      float: right;

      i {
        color: $themeColor;
      }

      &:hover {
        background-color: $themeColor;

        i {
          color: #fff;
        }
      }
    }
  }
}

.icon-picker-button {
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 15px;

  i {
    font-size: 20px;
  }
}
